@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.body {
   font-family: 'Inter', sans-serif;
}

.container {
   max-width: 1720px;
   text-align: center;
   margin: 0 auto;
   margin-top: 20px;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   width: 500px;
   height: 91px;
}

.logo > img {
   width: 500px;
   height: 91px;
}

.btn > a {
   text-decoration: none;
   background-color: #11345C;
   color: #fff;
   font-weight: 600;
   padding: 20px 40px;
   font-family: 'Inter', sans-serif;
   font-size: 20px;
   border-radius: 5px;
}

.btn > a:hover {
   background-color: #00D664;
   transition: all 0.4s;
}

.content > h1 {
   font-family: 'Inter', sans-serif;
   font-weight: 600;
   font-size: 32px;
   line-height: 100%;
   color: #082231;
   margin-top: 40px;
   margin-bottom: 20px;
}

.content > p {
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 100%;
   text-align: center;
   color: #202020;
   margin-top: 0px;
   margin-bottom: 40px;
}

.content > video {
   border-radius: 20px;
}

.content > h2 {
   font-family: 'Inter', sans-serif;
   font-weight: 600;
   font-size: 32px;
   line-height: 100%;
   color: #082231;
   margin-top: 40px;
   margin-bottom: 30px;
}

/* Stars */

.rating {
   display: flex;
   width: 100%;
   justify-content: center;
   overflow: hidden;
   flex-direction: row-reverse;
   position: relative;
   margin-bottom: 40px;
 }
 
 .rating-0 {
   filter: grayscale(100%);
 }
 
 .rating > input {
   display: none;
 }
 
 .rating > label {
   cursor: pointer;
   width: 80px;
   height: 80px;
   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 76%;
   transition: .3s;
 }
 
 .rating > input:checked ~ label,
 .rating > input:checked ~ label ~ label {
   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
 }
 
 
 .rating > input:not(:checked) ~ label:hover,
 .rating > input:not(:checked) ~ label:hover ~ label {
   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
 }

/* Stars end */

.footer {
   display: flex;
   align-items: center;
   background-color: #082231;
   margin: 0;
}

.footer > p {
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 100%;
   margin-right: 20px;
   margin-top: 34px;
   margin-bottom: 34px;
   padding-left: 100px;
   color: #fff;
}

.socialicons > a > i {
   font-size: 32px;
   margin-right: 20px;
   color: #FFF;
}

.socialicons > a > i:hover {
   transition: all 0.5s;
   color: #00D664;
}

.footer > h2 {
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 100%;
   color: #fff;
   text-align: center;
   margin: 0 auto;
}

.tel {
   display: flex;
   align-items: center;
   margin-right: 100px;
}

.tel > p {
   color: #fff;
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 100%;
   margin-right: 20px;
   align-items: center;
}

.tel > a > i {
   color: #fff;
   font-size: 24px;
   margin-right: 10px;
   align-items: center;
}

.tel > a {
   color: #fff;
   text-decoration: none;
   font-size: 24px;
   font-weight: 600;
   font-family: 'Inter', sans-serif;
   align-items: center;
}